*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.container{
  display: flex;

}

main{
  width: 100%;
  padding: 20px;
  

}

.sidebar{
  background-color: aqua;
  color: black;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;

}
.top-section{
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.logo{
  font-size: 30px;
  margin-right: 20px;
}
.bars{
  display: flex;
  font-size: 25px;
}

.link{
  display: flex;
  color: black;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}

.link:hover{
  background: rebeccapurple;
  color: #000;
  transition: all 0.5s;
}


.admin__page{
  display: flex;
  justify-content: center;
}